.App {
  text-align: center;
  background-color: #19171A
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* App.css */
body{
  background-color: #1f1d21

}

.seBusca{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  width: 15%
}
.header{
  padding-bottom: 0px;
}

.placeHolder{
  display: flex;
  justify-content: space-between;
  float: right;
  padding-right: 100px;
  padding-left: 20px;
  align-items: center;
  width: 20%;
  padding-bottom: 100px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d7d7c3;
  padding: 15px 30px;
  position: fixed;
  top: 0;
  width: 100%; 
  z-index: 1000;
  
}

.navbar .logo {
  font-size: 25px;
  font-weight: bold;
  font-family: "Helvetica", Arial, sans-serif;
  color: #19171A; /* Cambiar al color de texto deseado */
}

.navbar .logo img {
  width: 50px; /* Ajustar el tamaño del logo según sea necesario */
  height: auto;
  margin-right: 10px; /* Ajustar el margen derecho según sea necesario */
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin-right: 55px; /* Ajustar el margen derecho según sea necesario */
}

.navbar ul li a {
  text-decoration: none;
  color: #19171A; /* Cambiar al color de texto deseado */
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.navbar ul li a:hover {
  color: #b45d38; /* Cambiar al color de fondo deseado en hover */
}

.img2{
  width: 100%;
  height: 560px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.parrafo{
  color:  #EBEBD3;
  font-family: "Trebuchet MS";
  font-size: 25px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 10px;
  padding-top: 30px;
}

.ulInfo {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}



.MiniInfo{
  color:  #b45d38;
  font-family: "Trebuchet MS";
  font-size: 26px;
  font-weight: bold;
  padding-left: 70px;
  padding-right: 70px;
  
}

/* CSS */
.conocimientosComp {
  display: flex;
  justify-content: center;
}

.conocimiento {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px; /* Ajusta el margen entre cada conjunto de imagen y título */
}

.conocimientosCompIndividual {
  color: #EBEBD3;
  font-family: "Trebuchet MS";
  font-size: 25px;
  padding-top: 20px;
  text-align: center;
}

.imgConocimientos {
  width: 60%

}



.titulo{
  padding-top: 40px;
  font-size: 40px;
  color:  #b45d38;
  font-family: Helvetica;
  text-align: center;
}
.container {
  position: relative;
}

.imgFondo {
  width: 100%;
  height: 720px; /* Ajusta la altura según sea necesario */ 
}

.nombreIndex {
  position: absolute;
  top: 85%;
  left: 17%;
  transform: translate(-50%, -50%);
  color: #b45d38;
  font-size: 50px;
}

.descripcion{
  position: absolute;
  top: 83%;
  left: 33%;
  font-family: Helvetica;
  color: #EBEBD3;
  font-size: 26px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cardRecomendaciones {
  display: flex;
  max-width: 65%;
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre tarjetas */
  justify-content: center;
  margin: 0 auto;
  padding: 20px; /* Añade espacio alrededor si es necesario */
}

.recomendacion-container {
  flex: 0 1 calc(50% - 20px); /* Para que haya 2 tarjetas por fila con un espacio de 20px entre ellas */
  box-sizing: border-box;
  display: flex;
  align-items: flex-start; /* Alinea el contenido al inicio (parte superior) */
  margin-bottom: 20px; /* Añade espacio debajo de cada fila */
  position: relative;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, );
}

.comillas {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.recomendacion {
  color: #EBEBD3;
  font-family: "Trebuchet MS";
  font-size: 20px;
  padding-left: 50px; /* Espacio para las comillas */
  padding-top: 10px;
  text-align: justify;
}







/*EXPERIENCIA CARDS*/

.card-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre tarjetas */
  justify-content: center;
}

.card {
  flex: 1 1 35%; /* Ajusta el 35% para asegurar que haya espacio para el gap */
  max-width: 35%; /* Asegura que no se expandan más allá del 35% */
  box-sizing: border-box; /* Incluye padding y border en el ancho */
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #d7d7c3;
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  height: 200px; /* Ajustar altura según necesidad */
  object-fit: cover;
}

.card-body {
  padding: 20px;
  text-align: left; /* Alinea el texto a la izquierda */
}

.card-title {
  color: #19171A;
  font-family: "Trebuchet MS";
  font-size: 25px;
}

.card-text {
  font-size: 1rem;
  line-height: 1.5;
  color: #19171A;
  font-family: "Trebuchet MS";
}




